<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.npdevs.blowthegarbage.FeedbackActivity"></activity>
        <activity android:name="com.npdevs.blowthegarbage.BarGraph" />
        <activity android:name="com.npdevs.blowthegarbage.SevereGraph" />
        <activity android:name="com.npdevs.blowthegarbage.OrganicGraph" />
    </application>

</manifest>